<p style="color: green"><%= notice %></p>

<h1>Ideas</h1>
<%= link_to "Add a new idea", new_idea_path, class: "btn btn-primary mb-3" %>

<div class="list-group w-auto">
  <% @ideas.each do |idea| %>
    <div class="list-group-item">
      <h5 class="mb-1"><%= idea.name %></h5>
      <p class="mb-1"><%= idea.description %></p>
      <% if idea.picture? %>
        <%= image_tag(idea.picture_url(:thumb), width: 150, height: 150, class: "img-thumbnail flex-shrink-0") %>
      <% end %>
      <%= link_to "Edit", edit_idea_path(idea), class: "btn btn-primary" %>
      <%= link_to "Destroy", idea, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
    </div>
  <% end %>
</div>
